<section>
  <div class="page-header">
    <h1><span>{{vm.invoice.title}} - #{{vm.invoice.number}}</span></h1>
  </div>
  <small>
    <em class="text-muted">
      Created on
      <span ng-bind="vm.invoice.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.invoice.user"
            ng-bind="vm.invoice.user.displayName"></span>
      <span ng-if="!vm.invoice.user">Deleted User</span>
    </em>
  </small>
  <p class="lead"><span>{{vm.invoice.title}} - #{{vm.invoice.number}}</span></p>

  <div class='row'>
    <div class='col-sm-12'>
      <div ng-if="!vm.invoice.items.length" class="alert alert-info alert-dismissable" type="info">
        <div class="text-center"><span>No items to display.</span></div>
      </div>

      <div class="table-responsive" ng-if="vm.invoice.items.length">
        <table class="table table-striped table-vmiddle">
          <thead>
            <tr>
              <th>Item Description</th>
              <th>Quantity</th>
              <th>Rate ($)</th>
              <th>Amount ($)</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in vm.invoice.items">
              <td>
                {{ item.description }}
              </td>
              <td>
                {{ item.quantity }}
              </td>
              <td>
                {{ item.rate }}
              </td>
              <td>{{item.amount}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


</section>